/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  nav,footer,header,aside{display: block;}
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family:inherit;}
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
  /*--------------------*/
  


  .wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(286.55deg, #000000 -4.87%, #E47005 99.53%);
  }

  .container{
    width: 1170px;
    margin: 0 auto;
    border: 1px solid silver;
  }

.header_flex_container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 64px 0 0 0;
    
  }

  .title_h1{
      border: 1px solid silver;
      margin: 0 0 0 15px;
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      color: #432000;
  }

  .menu_list{
      display: flex;
      border: 1px solid silver;
      margin: 0 0 0 80px;
  }

  .menu_list li{
    padding: 0 48px;
  }

  .info_phone{
      display: flex;
      margin: 0 0 0 63px;
      border: 1px solid silver;
  }

  .info_phone img{
    width: 23.25px;
    height: 23.28px;
  }
    

  .phone{
    margin: 20px 0 0 19px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .flex_section{
      display: flex;
      justify-content: space-between;
      margin: 250px 0 0 0;
  }

  .left_content{
    margin: 100px 0 0 0;
  }

  .title_section{
      border: 1px solid silver;
      font-weight: 900;
        font-size: 40px;
        line-height: 49px;
        margin: 12px 0;

  }

  .text_section{
      border: 1px solid silver;
      font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    width: 563px;
    height: 174px;
    margin: 28px 0;
  }

  .click_section{
border: 1px solid silver;      margin: 28px 0 0 0;
width: 305px;
height: 86px;
background: linear-gradient(131.09deg, #000000 36.37%, #522300 96.38%);
box-shadow: 0px 5px 10px 2px rgba(241, 227, 227, 0.46);
border-radius: 54px;
display: inline-block;
text-align: center;
padding: 30px 55px;
margin: 28px 0;
  }

  .click_text{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }


.bottom_section_text{
    border: 1px solid silver;
    
}

.list_menu{
font-weight: 900;
font-size: 16px;
line-height: 20px;
color: #000000;

}

.list_menu li{
    padding: 5px 5px;
}

.list_menu li::before{
    content: url(../Werstka/img/icons/ikon5\ 1.png);
    padding: 20px 0 0 0;
}


.section_columns{
    background: linear-gradient(138.51deg, #000000 12.81%, rgba(36, 35, 35, 0) 195.47%);
}

.title_section_columns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 71px 0 113px 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    
}

.title_section_columns img{
    padding: 0 19px;
}

.flex_section_columns{
    display: flex;
    justify-content: space-between;
}

.body_columns{
background: #CB8600;
border-radius: 33px;
width: 370px;
height: 497px;
}

.oz{
font-weight: 900;
font-size: 40px;
line-height: 49px;
color: #2F2F2F;
text-align: center;

}

.body_img{
background: #F3C366;
border-radius: 40px;
width: 331px;
height: 297px;
margin: 67px 19px 23px 20px;
}

.body_img img{
    margin: 8px 69px;
}

.price_product{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #750202;
    text-align: center;
    margin: 40px;
}

.title_section3{
font-weight: 900;
font-size: 32px;
line-height: 39px;
color: #424242;
text-align: center;
margin: 52px 0 78px 0;
}

.columns_flex_box2{
    display: flex;
    flex-wrap: wrap;
    background: #343434;
    border-radius: 18px;
}


.columns_body_box{
display: flex;
}

.img_body_boxer{
background: #1D1D1D;
border-radius: 18px;
width: 258px;
height: 320px;
margin: 25px 0 0 33px;
}

.img_body_boxer img{
    margin: 11.5px 13px 21px 15px;
    
}

.boxer_name{
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin: 25px 0 0 21px;
}

.boxer_title{
font-weight: 900;
font-size: 14px;
line-height: 45px;
color: #A36B00;
width: 213px;
height: 246px;
margin: 16px 58px 0 21px;
}


.footer{
background: #181818;
margin: 201px 0 0 0;

}

.footer_text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sity_text{
font-weight: 900;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
margin: 0 700px 0 0;
}

.mail_text{
font-weight: 900;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.07em;
color: #FFFFFF;
}